<template>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <sidebar-userpanel-component></sidebar-userpanel-component>
            <sidebar-searchform-component></sidebar-searchform-component>
            <sidebar-menu-component></sidebar-menu-component>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>

<script src="./main-sidebar.ts"></script>